__pycache__
.ipynb_checkpoints
.vscode
_site/

.venv
venv
.conda

package-lock.json

package

ebird_audios
examples

dist
docs/assets
docs/contents/assets


clicker_alternative.py

zonotrichia_capensis

_build

questions
assets/results/audios/augmented/